.surveyTitles {
    font-size: 48px;
    color: white;
    text-align: center;
}

.surveyHeaders {
    font-size: 24px;
    color: black;
    text-align: center;
    padding-top: 10px;

}

input {
  width: 100%;
}

Button {
  padding-top: 100px;
}


.surveyInstructions {
    font-size: 24px;
    color: white;
    text-align: center;
}

.surveyQuestions {
    font-size: 18px;
    color: black;
    text-align: left;
}

.surveyBody {
    text-align: center;
    background-color: white;
    height: auto;
    width: 97%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.surveyBodyInner {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    text-align: center;
}

.surveyBG {
    background-color: var(--accentColor);
    height: 100vh
}

.surveyButton {
    background-color: var(--accentColor);
    margin-bottom: 5px;
}
