:root {
  --mainText: #ffffff;
  --secondaryAccentColor: #F7B9B9;
  --accentColor: rgba(226, 0, 60, 0.7);
  --mainBackgroundColor: #ffffff;
}

.Header {
  color: var(--mainText);
}

.IntroBox {
  background-color: var(--accentColor);
  color: var(--mainText);
  position: absolute;
  height: 500px;
  width: 100%;
  z-index: 1;
}

.SignUpBox {
  background-color: var(--mainBackgroundColor);
  margin-top: 500px;
  position: absolute;
  height: 400px;
  width: fit-content;
  width: 100%;
  text-align: center;
}

.signUpBoxSub {
  max-width: 1000px;
}

#signUpButton {
  background-color: var(--accentColor);
}

.Footer {
  background-color: var(--secondaryAccentColor);
  margin-top: 800px;
  position: absolute;
}
.HeadingText {
  font-size: 7vw;
  text-align: center;
}

.Image {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
}

.flat {
  background-color: var(--accentColor);
  color: var(--mainText);
}
