:root {
  --mainText: #ffffff;
  --secondaryAccentColor: #F7B9B9;
  --accentColor: rgba(226, 0, 60, 0.7);
  --mainBackgroundColor: #ffffff;
}


/* circle background info */
.Groups_title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 30px;
  color: var(--mainText);
  text-align: center;
}

.myButton {
  height: 30px;
}

.Names_of_group {
  font-size: 24px;
}

body {
	background: linear-gradient(-45deg, #ffffff, rgba(226, 0, 60, 0.7), #F7B9B9, rgba(226, 0, 60, 0.7));
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}


.mainText {
    text-align: center;
    background-color: white;
    height: auto;
    width: 97%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    left: 50%;
    font-size: 18px;
    color: gray;
    border-radius: 30px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* CHECK BG */
body{
  background: var(--accentColor);
}


.circle{
  position: absolute;
  border-radius: 50%;
  background: var(--mainText);
  animation: ripple 15s infinite;
  box-shadow: 0px 0px 1px 0px var(--accentColor);
}

.small{
  width: 200px;
  height: 200px;
  left: -100px;
  bottom: -100px;
}

.medium{
  width: 400px;
  height: 400px;
  left: -200px;
  bottom: -200px;
}

.large{
  width: 600px;
  height: 600px;
  left: -300px;
  bottom: -300px;
}

.xlarge{
  width: 800px;
  height: 800px;
  left: -400px;
  bottom: -400px;
}

.xxlarge{
  width: 1000px;
  height: 1000px;
  left: -500px;
  bottom: -500px;
}

.shade1{
  opacity: 0.2;
}
.shade2{
  opacity: 0.5;
}

.shade3{
  opacity: 0.7;
}

.shade4{
  opacity: 0.8;
}

.shade5{
  opacity: 0.9;
}

@keyframes ripple{
  0%{
    transform: scale(0.8);
  }

  50%{
    transform: scale(1.2);
  }

  100%{
    transform: scale(0.8);
  }
}
