:root {
  --mainText: #ffffff;
  --secondaryAccentColor: #F7B9B9;
  --accentColor: rgba(226, 0, 60, 0.7);
  --mainBackgroundColor: #ffffff;
}

.Var_navbar {
  background-color: var(--mainBackgroundColor);
  height: 48px;
}

.Logo_text {
  font-family: 'Pacifico', cursive;
  color: var(--accentColor);
  top: 5px;
  font-size: 30px;
  position: relative;
}

.Nav_links {
  color: var(--accentColor);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.Nav_links:hover {
  color: var(--secondaryAccentColor);
  font-weight: bold;
}
