:root {
  --mainText: #ffffff;
  --secondaryAccentColor: #F7B9B9;
  --accentColor: rgba(226, 0, 60, 0.7);
  --mainBackgroundColor: #ffffff;
}

.Card_grid {
  display: grid | inline-grid;
}

.textBoxYeet {
  text-align: center;
  margin-top: 10px;
}

.addNewOrgBox {
  color: white;
}

.addNewOrgBox:hover {
  color: white;
  text-decoration: none;
}